@media screen {
  p.bodyText {
    font-family: verdana, arial, sans-serif;
  }
}

@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }

  .app-resume-maker {
    .non-printable {
      display: none;
    }

    h1,
    .resume-controls {
      display: none;
    }

    .no-print {
      display: none !important;
    }

    #resume-init {
      display: block !important;
    }
  }
}

@media screen, print {
  #resume-init {
    font-size: 10pt;
  }
}
